version: '3.8'

services:
  frontend:
    build: ./frontend
    container_name: nlp-frontend
    ports:
      - "8001:8000"
    environment:
      - BACKEND_URL=http://orchestrator:8000
    depends_on:
      - orchestrator
    networks:
      - app-network

  orchestrator:
    build: ./orchestrator
    container_name: nlp-orchestrator
    ports:
      - "8000:8000"
    
    environment:
      - RAG_SERVICE_URL=http://rag-service:8002
      - USE_DYNAMODB=true
      - DYNAMODB_TABLE=cloud-nlp-history
      
    # only for local development
    volumes:
      - ~/.aws:/root/.aws:ro
      
    depends_on:
      - rag-service
    networks:
      - app-network

  rag-service:
    build: ./rag_service
    container_name: nlp-rag
    ports:
      - "8002:8002"
    volumes:
      - ./rag_service/chroma_db:/app/chroma_db
    env_file:
      - .env  # GOOGLE_API_KEY
    environment:
      - CHROMA_DIR=/app/chroma_db
      - DATA_DIR=/app/data
      - NUM_DOCS=5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge